{% extends "layout/student_layout.html" %}
{% load static %}

{% block title %}
  Appointment - Health Services Office | BSU Alangilan
{% endblock title %}

{% block content %}
  <!-- Content Area -->
  <div class="content">
    <div class="steps">
      <div class="step active" data-href="{% url 'users:student_appointment1' %}">1</div>
      <div class="step" data-href="appointment-2.html">2</div>
      <div class="step" data-href="appointment-3.html">3</div>
      <div class="step" data-href="appointment-4.html">4</div>
      <div class="step" data-href="appointment-5.html">5</div>
    </div>
    
    <div class="container">
      <div class="white-container">
        <div class="transaction-log">
          <h2>Transaction Log Sheet</h2>
          <form method="POST" class="transaction-log-form">
            {% csrf_token %}



            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" id="name" name="full_name" class="form-control">
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="sex">Sex:</label>
                <input type="text" id="sex" name="sex" class="form-control">
              </div>
              <div class="form-group">
                <label for="sr-code">SR-Code:</label>
                <input type="text" id="sr-code" name="sr-code" class="form-control">
              </div>
            </div>
            <div class="form-row">
              <div class="form-group">
                <label for="course">Course:</label>
                <input type="text" id="course" name="course" class="form-control">
              </div>
              <div class="form-group">
                <label for="department">Department:</label>
                <input type="text" id="department" name="department" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="date">Date:</label>
              <input type="date" id="date" name="date" class="form-control">
            </div>

            <div class="form-group">
              <button type="button" class="nextbutton" id="nextButton">Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}