{% extends "layout/student_layout.html" %}
{% load static %}

{% block title %}
  Appointment 1 - Health Services Office | BSU Alangilan
{% endblock title %}

{% block content %}
  <div class="content">
    <div class="steps">
      <div class="step active" data-href="{% url 'users:student_appointment1' %}">1</div>
      {% if appointment_id %}
        <div class="step" data-href="{% url 'users:student_appointment2' appointment_id=appointment_id %}">2</div>
      {% else %}
        <div class="step" data-href="#">2</div>
      {% endif %}
      <div class="step" data-href="{% url 'users:student_appointment3' %}">3</div>
      <div class="step" data-href="{% url 'users:student_appointment4_form1' %}">4</div>
      <div class="step" data-href="{% url 'users:student_appointment5' %}">5</div>
    </div>
    
    <div class="container">
      <div class="white-container">
        <div class="transaction-log">
          <h2>Transaction Log Sheet</h2>

          <form method="POST" action="{% url 'users:student_appointment1' %}" class="transaction-log-form">
            {% csrf_token %}

            <div class="form-group">
              <label for="name">Name:</label>
              <input type="text" id="name" name="full_name" class="form-control" value="{{ request.user.full_name }}">
            </div>
            <div class="form-group">
              <label for="sex">Sex</label>
              <select id="sex" name="sex" required>
                <option value="" disabled selected>Select Sex</option>
                <option value="male" {% if form.sex.value == "male" %} selected {% endif %}>Male</option>
                <option value="female" {% if form.sex.value == "female" %} selected {% endif %}>Female</option>
              </select>
            </div>
            <div class="form-group">
              <label for="sr-code">SR-Code:</label>
              <input type="text" id="sr-code" name="sr_code" class="form-control" value="{{ request.user.sr_code }}">
            </div>
            <div class="form-group">
              <label for="course">Course:</label>
              <input type="text" id="course" name="course" class="form-control" value="{{ request.user.course }}">
            </div>
            <div class="form-group">
              <label for="department">Department:</label>
              <input type="text" id="department" name="department" class="form-control" value="{{ request.user.department }}">
            </div>

            <div class="form-group">
              <button type="submit" class="nextbutton" id="nextButton">Next</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}