{% extends "layout/student_layout.html" %}
{% load static %}

{% block title %}
  Appointment 5 - Health Services Office | BSU Alangilan
{% endblock title %}

{% block content %}
  <div class="content">
    <div class="steps">
      <div class="step" data-href="{% url 'users:student_appointment1' %}">1</div>
      <div class="step" data-href="{% url 'users:student_appointment2' %}">2</div>
      <div class="step" data-href="{% url 'users:student_appointment3' %}">3</div>
      <div class="step" data-href="{% url 'users:student_appointment4_form1' %}">4</div>
      <div class="step active" data-href="{% url 'users:student_appointment5' %}">5</div>
    </div>
    
    <div class="container">
        <div class="success-message">
            <i class="fa fa-check-circle icon"></i>
        </div>

        <div class="success-message">
            You Successfully Submitted
        </div>
          
        <div class="appointment-number" id="appointmentNumber">
            01021
        </div>
      
      
      </div>
    </div>
  </div>
{% endblock content %}