{% extends "layout/student_layout.html" %}
{% load static %}

{% block title %}
  Edit User Profile 
{% endblock title %}

{% block css %}
  <link rel="stylesheet" href="{% static 'student/assets/css/editProfile.css' %}">
{% endblock css %}

{% block content %}
  <!-- Editable User Profile -->
  <div class="container">
    <div class="profile">
      <img src="{{ request.user.profile_image.url }}" alt="User Avatar">
      <div>
        <h2>Edit Profile</h2>
      </div>
    </div>
    <form method="POST" action="{% url 'users:student_edit_profile' %}" id="editProfileForm">
      {% csrf_token %}
      
      <div class="profile-info">
        {% for field in form %}
          <div class="info-group">
            <label for="{{ field.id_for_field }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
              <div class="alert alert-danger">
                {% for error in fields.error %}
                  <p>{{ error }}</p>
                {% endfor %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary btn-save" onclick="saveProfile()">Save Changes</button>
      </div>
    </form>
  </div>
  <!-- End Editable User Profile -->
{% endblock content %}

{% block js %}
  <script src="{% static '/student/assets/js/editProfile.js' %}"></script>
{% endblock js %}
