{% extends "layout/student_layout.html" %}
{% load static %}

{% block title %}
  User Profile
{% endblock title %} 

{% block content %}
  <!-- User Profile -->
  <div class="container">
    <div class="profile">
      <img id="profile-image" src="{{ request.user.profile_image.url }}" alt="User Avatar">
      <h2>User Profile <i class="fas fa-edit" onclick="openModal()"></i></h2>
    </div>
    <div class="profile-info">
      <div class="info-group">
        <label>Name:</label>
        <span id="profile-name">{{ request.user.full_name }}</span>
      </div>
      <div class="info-group">
        <label>SR-Code:</label>
        <span id="profile-sr-code">{{ request.user.sr_code }}</span>
      </div>
      <div class="info-group">
        <label>Age:</label>
        <span id="profile-age">{{ request.user.age }}</span>
      </div>
      <div class="info-group">
        <label>Sex:</label>
        <span id="profile-sex">{{ request.user.sex }}</span>
      </div>
      <div class="info-group">
        <label>Contact Number:</label>
        <span id="profile-contact">{{ request.user.contact_number }}</span>
      </div>
      <div class="info-group">
        <label>Present Address:</label>
        <span id="profile-address">{{ request.user.present_address }}</span>
      </div>
      <div class="info-group">
        <label>Email:</label>
        <span id="profile-email">{{ request.user.email }}</span>
      </div>
    </div>
  </div>
  <!-- End User Profile -->

  <!-- Modal -->
  <div id="editModal" class="modal">
    <div class="modal-content">
      <span class="close" onclick="closeModal()">&times;</span>
      <h2>Edit Profile</h2>

      <form method="POST" action="{% url 'users:student_profile' %}" enctype="multipart/form-data" id="editProfileForm">
        {% csrf_token %}

        <div class="edit-profile-info">
          {% for field in form %}
            <div class="info-group">
              <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
              {% if field.name == 'profile_image' %}
                {% comment %} <input type="file" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" accept="image/*"> {% endcomment %}
                <label for="editImage" class="pimageLabel">Profile Image:</label>
                <h8 id="fileName">No file chosen</h8>
                <input type="file" name="{{ field.name }}" id="editImage" accept="image/*" onchange="previewImage(event)">
                <label for="editImage" class="custom-file-label"><i class="fas fa-upload"></i>Choose File</label>
              {% else %}
                {{ field }}
              {% endif %}

              {% if field.errors %}
                <div class="alert alert-danger">
                  {% for error in field.errors %}
                    <p>{{ error }}</p>
                  {% endfor %}
                </div>
              {% endif %}
            </div>
          {% endfor %}
        </div>

        <div class="save-btn">
          <button type="submit" class="btn btn-primary" onclick="saveProfile()">Save Changes</button>
        </div>
      </form>
    </div>
  </div>
  <!-- End Modal -->
{% endblock content %}

{% block js %}
  <script src="{% static '/student/assets/js/profile.js' %}" defer></script>

  <script>
    function previewImage(event) {
      var reader = new FileReader();
      reader.onload = function() {
        var output = document.getElementById('profileImage');
        output.src = reader.result;
      };
      reader.readAsDataURL(event.target.files[0]);
    }
  </script>
{% endblock js %}
