{% extends "main_layout.html" %}
{% load static %}

{% block title %}
    Student Registration - Health Services Office | BSU Alangilan
{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'assets/css/student.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
{% endblock css %}

{% block content %}
    <div class="register-container">
        <div class="register-header">
            <img src="{% static 'assets/img/logo.png' %}" alt="Health Service Office Logo" class="login-logo">
            <h2>Health Service Office Alangilan Campus</h2>
        </div>

        <form method="POST" action="{% url 'users:student_registration' %}" enctype="multipart/form-data" id="registerForm">
            {% csrf_token %}
            <h2>Student Registration</h2>
            <div class="input-group">
                <div>
                    <label for="username">Username</label>
                    <input type="text" id="userName" name="username" placeholder="Username" required>
                    <div id="error" class="error">
                        {{ form.username.errors }}
                    </div>
                </div>                
                <div>
                    <label for="password">Password</label>
                    <input type="password" id="userName" name="password" placeholder="Password" required>
                    <div id="error" class="error">
                        {{ form.password.errors }}
                    </div>
                </div>
            </div>
            <div class="input-group">
                <div>
                    <label for="last_name">Last Name</label>
                    <input type="text" id="lastName" name="last_name" placeholder="Last Name" required>
                    <div id="error" class="error">
                        {{ form.last_name.errors }}
                    </div>
                </div>
                <div>
                    <label for="first_name">First Name</label>
                    <input type="text" id="firstName" name="first_name" placeholder="First Name" required>
                    <div id="error" class="error">
                        {{ form.first_name.errors }}
                    </div>
                </div> 
                <div>
                    <label for="middle_name">Middle Name</label>
                    <input type="text" id="middleName" name="middle_name" placeholder="Middle Name" required>
                    <div id="error" class="error">
                        {{ form.middle_name.errors }}
                    </div>
                </div> 
                <div>
                    <label for="suffix">Suffix</label>
                    <input type="text" id="suffix" name="suffix" placeholder="Suffix">
                    <div id="error" class="error">
                        {{ form.suffix.errors }}
                    </div>
                </div>
            </div>
            <div class="input-group">
                <div>
                    <label for="birthdate">Birth Date</label>
                    <input type="text" id="birthdate" name="birthdate" placeholder="Birth Date">
                </div>
                <div>
                    <label for="srcode">SR-Code</label>
                    <input type="text" id="srcode" name="srcode" placeholder="SR-Code">
                </div>
                <div>
                    <label for="age">Age</label>
                    <input type="text" id="age" name="age" placeholder="Age" required>
                    <div id="error" class="error">
                        {{ form.age.errors }}
                    </div>
                </div>
                <div>
                    <label for="sex">Sex</label>
                    <select id="sex" name="sex" required>
                        <option value="" disabled selected>Select Sex</option>
                        <option value="male" {% if form.sex.value == "male" %} selected {% endif %}>Male</option>
                        <option value="female" {% if form.sex.value == "female" %} selected {% endif %}>Female</option>
                    </select>
                    <div id="error" class="error">
                        {{ form.sex.errors }}
                    </div>
                </div> 
            </div>
            <div class="input-group">
                <div>
                    <label for="contact_number">Contact Number</label>
                    <input type="text" id="contactNumber" name="contact_number" placeholder="Contact Number" required>
                    <div id="error" class="error">
                        {{ form.contact_number.errors }}
                    </div>
                </div>
                <div>
                    <label for="telephone_number">Telephone Number</label>
                    <input type="text" id="telephoneNumber" name="telephone_number" placeholder="Telephone Number">
                    <div id="error" class="error">
                        {{ form.telephone_number.errors }}
                    </div>
                </div>
                <div>
                    <label for="civilStatus">Civil Status</label>
                    <input type="text" id="civilStatus" name="civilStatus" placeholder="Civil Status" required>
                </div>
                <div>
                    <label for="gsuite">Gsuite</label>
                    <input type="text" id="gsuite" name="gsuite" placeholder="Gsuite" required>
                </div>
            </div>
            <div class="input-group">
                <div>
                    <label for="present_address">Present Address</label>
                    <input type="text" id="presentAddress" name="present_address" placeholder="Present Address" required>
                    <div id="error" class="error">
                        {{ form.present_address.errors }}
                    </div>
                </div>
                <div>
                    <label for="home_address">Home Address</label>
                    <input type="text" id="homeAddress" name="home_address" placeholder="Home Address" required>
                    <div id="error" class="error">
                        {{ form.home_address.errors }}
                    </div>
                </div>
                <div>
                    <label for="profile_image">Profile Image</label>
                    <div class="custom-file-input"></div>
                    
                    <input type="file" id="profileImage" name="profile_image" accept="image/*">
                    <label for="profile_image"><i class="fas fa-upload"></i> Choose File</label>
                    <div id="error" class="error">
                        {{ form.profile_image.errors }}
                    </div>
                </div>
            </div>
            
            <div class="form-footer">
                <button type="submit" class="btn">Signup</button>
            </div>
            <div id="error" class="error"></div>
        </form>
    </div>
{% endblock content %}
