{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    {% block title %}
    {% endblock title %}
  </title>

  {% block css %}
  {% endblock css %}  
</head>

{% block header %}
{% endblock header %}

<body>
  {% block navbar %}
  {% endblock navbar %}

  {% block content %}
  {% endblock content %}
  
  {% block js %}
  {% endblock js %}  
</body>

{% block footer %}
{% endblock footer %}

</html>