
body{
background-color: #eeebeb;
}
.header {
color: #F12C2C;
display: flex;
align-items: center;
justify-content: space-between;
width: 100%;
height: 100px;
padding: 8px;
background-color: white;
position: fixed;
top: 0;
left: 0;
right: 0;
z-index: 1000; 
}
.header-left {
display: flex;
align-items: center;
}
.header-title {
margin-left: 10px;
}
.header-title h2 {
font-size: 1.5em;
}
.header-right {
display: flex;
align-items: center;
padding-right: 90px;
position: relative;
gap:15px
}
.header-right a {
color: #F12C2C; 
text-decoration: none;
display: flex;
align-items: center;
font-weight: 600;
}
.header-right .account-name {
margin-left: 10px;
margin-right: 5px;
}
.header-right .fas.fa-circle-user {
  font-size: 20px; 
color: #D33C3B;
margin-left: 20px;

}





  .pink-line {
    height: 20px;
    width: 100%;

    background: #D33C3B;
    position: fixed;
    top: 100px; 
    z-index: 999; 
    margin-left:-10px;
  }

  .main-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('assets/img/background.png') no-repeat center center fixed;
    background-size: cover;
    position: relative;
  }

  .dropdown-menu {
    background-color: #fff;
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  .dropdown-item {
    color: #D33C3B;
    font-weight: 500;
  }

  .dropdown-item:hover {
    background-color: #ffc219;
    color: #fff;
  }

  .header-right .dropdown {
    position: relative;
  }

  .header-right .dropdown-toggle::after {
    display: none;
  }

  .header-right a.active {
    position: relative;
    border-bottom: 3px solid #ffc219;
  }

  .header-right a {
    margin-right: 20px;
    padding-bottom: 5px;
    color: #222020;
    text-decoration: none;
    font-weight: 500;
  }